# Ignore virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.db
*.sqlite3

# Binaries and models
*.dll
*.lib
*.pt
*.onnx
*.h5
*.pkl

# Streamlit secrets
.streamlit/secrets.toml
