bardapi==1.0.0
langdetect==1.0.9
numpy==2.2.6
openai_whisper==20240930
opencv_python==4.11.0.86
pandas==2.2.3
pytesseract==0.3.13
python-dotenv==1.1.0
skimage==0.0
streamlit==1.45.1
torch==2.7.0
yt_dlp==2025.5.22
